.ets_mm_menu_item_li .menu-item-link {
    text-decoration: none ;
    margin-top: 40px;
}

.collection-hero__title {
    color: red;
}

.page-width {
    h2 {
        color: red;
        font-size: 50px;
    }
}